html, body {
  height: 100%;
  background-color: #81D4FA;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1px;
  background-color: #B3E5FC;
}

h1 {
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}
