html, body {
  height: 100%;
  background-color: #81D4FA;
  font-family: Times, serif;
  font-size: 18px;
}

h1, h2 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

p {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

nav {
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 20px 40px 20px 40px;
}

form {
  margin: 25px;
  text-align: center;
}

form div {
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1px;
  background-color: #B3E5FC;
}

#slothville {
  width: 75%;
  margin: 0 auto;
}